
    .form-inline
    {
        .checkbox
        {
            margin-right: 12px;
        }
    }

    #IncidenceMatrixFieldPage
    {
		overflow: scroll;
		width: 100%;
		height: 300px;
		overflow-wrap: normal;
	}

#AdjacencyMatrixFieldInput
{
    overflow: scroll;
    max-width: 100%;
    max-height: 300px;
    overflow-x: scroll;
    white-space:nowrap;
}

  #BadFormatMessage
  {
      padding: 8px;
      display: none;
  }

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}